





.node circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  stroke-width: 2;
  fill: none;
  stroke: silver;
  
}

.node {
  cursor: pointer;
}
